/* Header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 2px;
}

header nav ul li:hover {
    background-color: chartreuse;
    /* Cambia el color de fondo */
    color: black;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header nav ul li i {
    color: white;
}

/* contenedorImagen*/
.contenedorImagen {
    position: relative;
    max-width: 100%;
    height: 500px;
    padding-left: 100px;
    padding-right: 100px;
}

.contenedorImagen img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.contenedorImagen h1 {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    text-align: right;
    font-size: 50px;
    margin: 0;
    z-index: 1;
}

.contenedorImagen p {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 85%;
    left: 850px;
    transform: translate(-50%, -50%);
    color: gold;
    text-align: right;
    font-size: 25px;
    margin: 0;
    z-index: 1;
}

/* primera seccion  */
.contenedorSeccion {
    display: flex;
}

.seccion {
    color: white;
    flex: 1;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}

.seccion,
img {
    width: 600px;

}

h1 {
    text-align: center;
    font-size: 30px;
    color: gold;
}

p {
    font-size: 25px;
}

/* platos mas vendidos */

.contenedorMasVendidos {
    display: flex;
}

.contenedoresPlatos {
    color: white;
    flex: 1;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

.contenedoresPlatos img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
}

.contenedoresPlatos h3 {
    color: gold;
}

/* CONTENEDOR info */
.contenedorInfo {
    display: flex;
}

.informacion {
    color: white;
    flex: 1;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

/* footer */
footer p {
    color: gold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* Sobre Nosotros */
.contenedorSobreNosotros {
    background-color: #333;
    padding: 40px 100px;
    color: white;
    text-align: center;
}

.contenedorSobreNosotros h1 {
    color: gold;
    margin-bottom: 20px;
}

.contenidoSobreNosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.contenidoSobreNosotros img {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 10px;
}

.contenidoSobreNosotros p {
    font-size: 20px;
    flex: 1;
}

@media (max-width: 800px) {
    header img {
        max-width: 100px;
    }

    nav ul li a {
        font-size: 20px;
    }

    .contenedorImagen {
        height: 300px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .contenedorImagen h1 {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

    .contenedorImagen p {
        font-size: 20px;
        top: 120%;
        left: 50%;
        transform: translateX(-40%);


    }

    .contenedorSeccion {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        padding: 150px;
    }

    .contenedorSeccion .seccion {
        flex: 1;
        text-align: center;
    }

    .contenedorSeccion img {
        max-width: 200px;
        margin-bottom: 20px;
    }

    .contenedorSeccion h1 {
        font-size: 20px;
    }

    .contenedorSeccion p {
        font-size: 20px;
    }

    .contenedorSeccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* media query 400px */
@media (max-width: 400px) {
    header img {
       max-width: 80px;
        
    }

    nav ul li a {
        font-size: 1px;
        
    }

    .contenedorImagen {
        height: 250px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contenedorImagen h1 {
        font-size: 16px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
    }

    .contenedorImagen p {
        font-size: 16px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .contenedorSeccion {
        padding: 80px; 
    }

    .contenedorSeccion .seccion {
        width: 100%; 
        text-align: center;
        margin-bottom: 20px; 
    }

    .contenedorSeccion img {
        max-width: 100%; 
    }

    .contenedorSeccion h1,
    .contenedorSeccion p {
        font-size: 16px; 
    }
    .contenedorMasVendidos {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .contenedorMasVendidos .contenedoresPlatos {
        width: 100%; 
        text-align: center; 
        margin-bottom: 20px;
    }

    .contenedorMasVendidos .contenedoresPlatos img {
        max-width: 100%; 
        height: auto;
        display: block; 
        margin: 0 auto;
    }
    footer p b{
        font-size: 15px;
    }
    

}