/* Header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 2px;
}

header nav ul li:hover {
    background-color: chartreuse;
    /* Cambia el color de fondo */
    color: black;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header nav ul li i {
    color: white;
}

/* Sobre Nosotros */
.contenedorSobreNosotros {
    background-color: #333; /* Oscuro para mantener la consistencia */
    padding: 40px 100px; /* Espaciado general */
    color: white;
    text-align: center;
}

.contenedorSobreNosotros h1 {
    color: gold;
    margin-bottom: 20px; 
}

.contenidoSobreNosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.contenidoSobreNosotros img {
    max-width: 300px; 
    margin-right: 20px; 
    border-radius: 10px; 
}

.contenidoSobreNosotros p {
    font-size: 20px;
    flex: 1; 
}

@media (max-width: 768px) {
    .contenidoSobreNosotros {
        flex-direction: column; 
    }
    .contenidoSobreNosotros img {
        margin-bottom: 20px; 
    }
}